# Python
__pycache__/
*.pyc
.pytest_cache/

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Generated RAG data
rag/data/raw/*
rag/data/cleaned/*
rag/data/chunks/*
rag/data/embeddings/*
rag/data/processed/*
rag/data/vectorstore/*